<%-include("partials/header")%>
<div class="updateblogtotaldiv">
    <form action="" class="editblogadminclass">
        <label for="titleblog">Title :</label>
        <input type="text" name="" value="" oninput="checkLimit('titleblog','titleblog-footer' , 70)" id="titleblog" class="form-control" required>
        <span class="input-footer" id="titleblog-footer"></span>
        <label for="contentblog">Content :</label>
        <textarea name="" id="desc" required cols="30" rows="10"></textarea>
        <label for="publishedonpubblog">Published On :</label>
        <input type="date" name="" required value="" id="publishedonpubblog" class="form-control">
        <label for="categoryblog">Category :</label>
        <input type="text" name="" value="" id="categoryblog" class="form-control" placeholder="Enter a New Category Here">
        <span class="seperator">or</span>
        <div class="my-combo-box" id="category-combo-box">
            <span>Select A Category</span>
            <%categories.forEach(category => {%>
                <span><%=category.categoryName%></span> 
            <%})%>
        </div>
        <label for="timeblog">Reading Time(Only mention Number) :</label>
        <input type="number" name="" value="" id="timeblog" class="form-control" required>
        <label for="coverphotoblog">Cover Photo URL :</label>
        <input type="text" name="" value="" id="coverphotoblog" class="form-control" required>
        <input type="submit" value="Publish" id="submitbuttonupdateblog" class="btn btn-success">
    </form>
</div>
<script src="/js/ComboBox.js"></script>
<script>

    

        let new_combo_box = new ComboBox('#categoryblog' , '#category-combo-box');
        new_combo_box.init();

    $(".editblogadminclass").on("submit",function(e){
        e.preventDefault();


    const title=$("#titleblog").val();
    const desc=$("#desc").val();
    const publishedonpubblog=$("#publishedonpubblog").val();
    const categoryblog=new_combo_box.final_value;
    const timeblog=$("#timeblog").val();
    const coverphotoblog=$("#coverphotoblog").val();
    createblogfunction(title,desc,publishedonpubblog,categoryblog,timeblog,coverphotoblog);
    console.log(publishedonpubblog);
})

function createblogfunction(title,desc,publishedonpubblog,categoryblog,timeblog,coverphotoblog){
    try{
$.ajax({
    type:"POST",
    url:"http://localhost:3000/api/blog",
    data:{
        title:title,
        desc:desc,
        publishedonpubblog: publishedonpubblog,
        categoryblog:categoryblog,
        timeblog:timeblog,
        coverphotoblog:coverphotoblog
    },
    success:function(data){
        location.replace("/")
    } 
})
}
catch(error){
    console.log(error);
}
}
</script>


<%-include("partials/footer")%>